# Pickle data files
*.joblib
*.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info

# IPython
profile_default/
ipython_config.py
.ipynb_checkpoints
